/*This is the styles.css file*/
.contenedor-header{
  width: 80%;
  display: flex;
  flex-direction: row;
  margin: auto;
  border-bottom: 1px solid black;
}
.parte-izq{
	
}
.parte-der{
	margin-left: auto;
}